---
---

@import "{{ site.theme }}";

body {
  color: #373737; /** #727272 **/
}

section {
  width: 840px; /** 500px **/
  float: right;
  padding-bottom: 50px;
}

.wrapper {
  width:1200px; /** 860px **/
  margin:0 auto;
}
