---
---

@import "{{ site.theme }}";

body {
  color: #313131; // #727272
}

section {
  width: 840px; // 500px
}

.wrapper {
  width:1200px; // 860px
}

@media print, screen and (max-width: 1160px) {
  section {
    width: 64%;
  }
}

@media print, screen and (max-width: 960px) {
  section {
    width: 100%;
  }
  header img {
    width: 270px;
  }
}
